ETH_GlobalCanopyHeight_10m_2020_N21W105_Map.tif
ETH_GlobalCanopyHeight_10m_2020_N21W102_Map.tif
ETH_GlobalCanopyHeight_10m_2020_N18W108_Map.tif
ETH_GlobalCanopyHeight_10m_2020_N18W105_Map.tif
ETH_GlobalCanopyHeight_10m_2020_N18W102_Map.tif
